@import "../../css/resources.scss";

$dark-blue: #2e5579;
$image-background: url(https://st2.depositphotos.com/1448225/9009/v/600/depositphotos_90095086-stock-illustration-manga-comics-radial-speed-lines.jpg);

.card {
  @include shadows;

  height: 265px;
  width: 175px;
  background-color: $light-purple;
  border: 5px solid black;

  &-image {
    border-bottom: 5px solid #000;
    z-index: 1;

    height: 75%;
    background: $image-background;
    background-position: center center;
    background-size: 200%;
  }

  &-image > img {
    z-index: 2;

    width: 100%;
    height: 100%;
  }

  &-heading {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
    color: $blue;
    word-wrap: break-word;
  }

  &:hover {
    animation-name: bounce;
    animation-duration: 0.3s;
  }
}
