@import "../../css/resources.scss";

.input_bar {
  @include container($padding: 25px, $gap: 40px);

  &__item {
    @include shadows;
    @include heading_font;
    @include x_large_text;
    @include container($padding: 1px);
    width: 110%;
  }
}

.cards {
  @include container($padding: 50px 100px);

  max-width: 1280px;
}

.rand_pokemon {
  background-color: $magenta;
  color: $white;

  &:hover {
    background-color: $purple_blue;
  }
}

.pagination_container {
  @include container();
}
