@import "../../css/resources.scss";

.pagination_ul {
  @include container($gap: 5px, $padding: 5px);

  li a {
    border-radius: 70px;
    padding: 0.1rem 1rem;
    border: $purple_blue 1px solid;
    cursor: pointer;
    color: $purple_blue;
  }

  li.previous a,
  li.next a,
  li.break a {
    border-color: transparent;
  }

  .selected a {
    background-color: $purple_blue;
    border-color: transparent;
    color: $white;
    min-width: 32px;
  }

  .disabled a {
    color: $dark_gray;
  }

  .disable,
  .disabled a {
    cursor: default;
  }
}
