//TODO change
.header {
  background: $header-bg;
  padding: 3px 3px 3px 15px;

  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
  font-weight: 600;

  &-logo {
    width: 50px;
    height: 50px;
  }
}
