@import "./variables.scss";

@mixin heading-font($font-size: 25px) {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: font-size;
}

@mixin container(
  $gap: 25px,
  $padding: 0px 0px,
  $justify-content: center,
  $align-items: center,
  $height: 100%
) {
  @include shadows($light-white);

  background: $container-bg;

  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: wrap;
  gap: $gap;

  width: 100%;
  height: $height;
  margin: auto;
  padding: $padding;
}

@mixin shadows($color: $dark-gray) {
  box-shadow: 0 0 3px 1px $color;
}
