@import "./css/resources.scss";

.app {
  @include container($align-items: start);

  //background: $white fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://www.chromethemer.com/download/hd-wallpapers/water-pokemon-7680x4320.jpg);
  min-height: 100vh;
}

.mouse_effect {
  background-image: url("./img/pokeball.png");
  background-position: center center;
  background-size: 100%;
  border-radius: 0;
}
